body {
    background-color: #161616;
    color: #FEFEFE;
}

@font-face {
    font-family: Vafle_VUT;
    src: url(../fonts/VUT/Vafle-Regular-web.woff);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Regular.woff);
}

::selection {
  background: #A9CF3B;
}
::-moz-selection {
  background: #A9CF3B;
}

.name{
    margin: 20px;
    font-family: Vafle_VUT;
}

.navbar {
    background-color: #262726;
}

.panel {
    background-color: #1F1F1F;
    font-family: Vafle_VUT;
}

.users{
    color: #0071BC;
}

.errors{
    color: #FF0000;
}

.samples{
    color: #39B54A;
}

.latence{
    color: #FBB03B;
}

.bandwidth{
    color: #93278F;
}

.number{
    font-size: 30pt;
}

.number_index {
    font-size: 15pt;
}

.description{
    font-size: 9pt;
    top: -5px;
}

.logo_vut{
    width: 11%;
    height: 11%;
}

.logo_gity{
    width: 15%;
    height: 15%;
}

.pull-right{
    width: 450px;
}

.span_info{
    border-right-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    float:left;
}

.panel-info{
        font-size: 15pt;
}

.panel-default{
        margin-left: 20px;
        margin-right: 20px;
}

.table{
    font-family: OpenSans;
}

.errorTable{
    float: left;
}

.errorTable .headSuccess{
    color: green;
    font-size: 25pt;
}

.errorTable .headFailed{
    color: red;
    font-size: 25pt;
}

.errorTable .errSuccess{
    color: green;
    font-size: 25pt;
}

.errorTable .errFailed{
    color: red;
    font-size: 25pt;
}

#error{
    float: left;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend li{
  cursor:pointer;
  list-style-type: none;
}

.strike{
     text-decoration: line-through !important;
}

.float-left{
  float:left;
}
.chart-legend{
  height:250px;
  overflow:auto;
}

.scroll{
    overflow-x: scroll;
}